.edit-name-input {
	all: unset;
	background-color: white;
	border-radius: 3px;
	box-shadow: grey 0px 1px 1px, grey 0px 0px 0px 1px;
	padding-left: 5px;

	&::-webkit-input-placeholder {
		font-size: 0.8em;
	}
}
